<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{DOCUMENT_ROOT} !-f
#RewriteRule !\.(js|ico|gif|jpg|png|css|html|swf|flv|xml)$ index.php [QSA,L]
RewriteRule !(assets|bower_components|functions|views)/.+$ index.php [QSA,L]
</IfModule>

<IfModule mod_mine.c>
</IfModule>
